#header {
    background-color: rgb(74, 170, 165, .4);
    border: #333 solid thin;
    color: #333;
    font-weight: bold;
    text-shadow:
    3px  3px 0 #f2f2f2,
   -1px -1px 0 #f2f2f2,   
    1px -1px 0 #f2f2f2,
   -1px  1px 0 #f2f2f2,
    1px  1px 0 #f2f2f2;
    margin-left: 16.6%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-toggler-icon {
    background-color: #4aaaa5;
    border: #333 solid 3px;
    height: 30px;
    width: 30px;
}

