body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    overflow-x: hidden;
}

/* PORTFOLIO CARDS */
h1 {
    color: #333;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 0 #f2f2f2, -1px -1px 0 #f2f2f2, 1px -1px 0 #f2f2f2, -1px 1px 0 #f2f2f2, 1px 1px 0 #f2f2f2;
}

#gitRepo {
    font-size: 10%;
}

h5 {
    color: #333;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 0 #f2f2f2, -1px -1px 0 #f2f2f2, 1px -1px 0 #f2f2f2, -1px 1px 0 #f2f2f2, 1px 1px 0 #f2f2f2;
}

#cardTitle {
    color: #fff;
    margin: 0 auto;
    font-size: 0.5 rem;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
}

h7 {
    font-size: 10%;
}


/* BACKGROUND MY VIDEO */
@media(min-aspect-ratio: 16 / 9) {
    #myVideo {
        width: 100%;
        height: auto;
    }

    @media(max-aspect-ratio: 16 / 9) {
        #myVideo {
            width: auto;
            height: 100%;
        }
    }

    @media(max-width: 767px) {
        #myVideo {
            display: none;
        }

        body {
            background: url('mobileBackGround.png');
            background-size: cover;
            background: no-repeat;
        }
    }

    /* Greater than 641px and less than 990px, Tablet  */
    @media(min-width:641px) and(max-width:990px) {
        body {
            text-align: center;
            background: no-repeat center;
            background-size: cover;
            background: aqua;
            background-image: url('./mobileBackGround.png');
        }

        #myVideo {
            display: none;
        }

    }

}

/* Less than 640px, Mobile  */
@media(min-width:400px) and(max-width: 641px) {
    body {
        text-align: center;
        background: no-repeat center;
        background-size: cover;
        background: aqua;
        background-image: url('./mobileBackGround.png');

    }

    #myVideo {
        display: none;
    }

    .social {
        height: 17.5rem;
        margin-bottom: 3rem;
    }
}

/* Less than 640px, Mobile  */
@media(min-width:375px) and(max-width: 399px) {
    body {
        text-align: center;
        background: no-repeat center;
        background-size: cover;
        background: aqua;
        background-image: url('./mobileBackGround.png');

    }

    #myVideo {
        display: none;
    }

    .social {
        height: 17.5rem;
        margin-bottom: 3rem;
    }
}

/* Less than 640px, Mobile  */
@media(min-width:300px) and(max-width: 375px) {
    body {
        text-align: center;
        background: no-repeat center;
        background-size: cover;
        background: aqua;
        background-image: url('./mobileBackGround.png');

    }

    #myVideo {
        display: none;
    }

    .social {
        height: 17.5rem;
        margin-bottom: 3rem;
    }
}
