.my-container {
    background-color: rgb(74, 170, 165, .4);
    width: 100%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: thick groove #999999;
  }

  h3 {
    color: #333;
    text-shadow:
    3px  3px 0 #f2f2f2,
   -1px -1px 0 #f2f2f2,  
    1px -1px 0 #f2f2f2,
   -1px  1px 0 #f2f2f2,
    1px  1px 0 #f2f2f2;
    clear: both;
    margin-left: 50px;
    height: -150px;
    font-weight: bold;
    margin-left: 1%;
  }