.my-container {
    background-color:rgba(9, 43, 41, 0.4);
    width: 100%;
    margin: 15px auto 100px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: thick groove #999999;
}

h3 {
    color: #fff;
    text-shadow: 3px 3px 0 #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
    clear: both;
    margin-left: 50px;
    height: -150px;
    font-weight: bold;
    margin-left: 1%;
}

p {
    color: #fff;
    text-shadow: 3px 3px 0 #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Lato;
}

#profile_image {
  float: left;
  margin-right: 10px;
  border: thin groove #999999;
}